@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 105, 65);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Yeseva One';
}

li a:hover{
    background-color: gray;
    color: white;
}